doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd
html(xmlns="http://www.w3.org/1999/xhtml")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        <!--[if !mso]><!-->
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        <!--<![endif]-->
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        title
        <!--[if (gte mso 9)|(IE)]>
        style(type="text/css").
            table {border-collapse: collapse;}
        <![endif]-->
    body
        center.wrapper
            .webkit
                <!--[if (gte mso 9)|(IE)]>
                | <table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;font-family:sans-serif;color:#333333;" >
                | <tr>
                | <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                <![endif]-->
                table.outer(align="center")
                    tbody
                        tr
                            td.right-sidebar.black-bg(dir="ltr" style="background:"+bgcolor+";")
                                <!--[if (gte mso 9)|(IE)]>
                                | <table width="100%" dir="rtl" style="border-spacing:0;font-family:sans-serif;color:#333333;"><tr>
                                | <td width="100" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                                <![endif]-->
                                div(class="column left" dir="rtl" style="width:100%;display:inline-block;vertical-align:middle;max-width:150px;")
                                    table(width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;")
                                        tbody
                                            tr
                                                td.inner.contents
                                                    a(href="#" style="text-decoration:underline;color:#70bbd9;")
                                                        img(src="" width="130" alt="" style="border-width:0;")
                                <!--[if (gte mso 9)|(IE)]>
                                | </td><td width="500" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                                <![endif]-->
                                div.column.right(dir="rtl")
                                    table(width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;")
                                        tbody
                                            tr
                                                td.inner.contents
                                                    h2.white-color(style="color:"+color+";") Uncle Vinnies ...taste is in the grill
                                            
                                <!--[if (gte mso 9)|(IE)]>
                                | </td>
                                | </tr>
                                | </table>
                                <![endif]-->
                        tr
                            td(class="full-width-image" style="padding-left:0;padding-right:0;")
                                span(style="font-size:20px;line-height:0;font-family:Helvetica, Arial, sans-serif;") &nbsp;
                        tr
                            td.one-column
                                table(width="100%" class="black-bg" style="border-spacing:0;font-family:sans-serif;color:#333333;background-color:"+bgcolor+";background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;")
                                    tbody
                                        tr
                                            td.inner.contents
                                                p(style="Margin:0;font-size:14px;Margin-bottom:10px;text-align:left")
                                                    a(href="#" style="color:"+color+";text-decoration:underline;") Create Account
                                                    | &nbsp;&nbsp;&nbsp;&nbsp;
                                                    a(href="#" style="color:"+color+";text-decoration:underline;") View All menu
                                                    | &nbsp;&nbsp;&nbsp;&nbsp;
                                                    a(href="#" style="color:"+color+";text-decoration:underline;") View Blog
                        tr
                            td(class="full-width-image" style="padding-left:0;padding-right:0;")
                                span(style="font-size:20px;line-height:0;font-family:Helvetica, Arial, sans-serif;") &nbsp;
                        tr
                            td.one-column
                                table(width="100%" class="black-bg" style="border-spacing:0;font-family:sans-serif;color:#333333;background-color:"+bgcolor+";background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;background:"+bgcolor+";")
                                    tbody
                                        tr
                                            td.inner.contents
                                                p.h1(style="color:"+color+";") Promotional Box
                                                p(style="Margin:0;font-size:14px; color:"+color+";") Ut ad aliqua duis et ea culpa fugiat fugiat non. Ea reprehenderit sint dolore adipisicing mollit laborum. Voluptate proident adipisicing sit pariatur ipsum. Irure ex anim proident nulla velit id.
                        each blog in [{title: "Story 1 Title", excerpt: "Lorem laboris amet ea minim magna culpa eiusmod voluptate occaecat laborum Lorem est anim."},{title: "Story 2 Title", excerpt: "In pariatur esse esse fugiat nostrud excepteur ea labore."}, {title: "Story 2 Title", excerpt: "Magna ea laborum occaecat nulla elit nostrud in laborum laboris dolor proident."}]
                            tr
                                td.right-sidebar(dir="ltr")
                                    <!--[if (gte mso 9)|(IE)]>
                                    | <table width="100%" dir="rtl" style="border-spacing:0;font-family:sans-serif;color:#333333;"><tr>
                                    | <td width="200" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                                    <![endif]-->
                                    div(class="column left" dir="rtl" style="width:100%;display:inline-block;vertical-align:middle;max-width:200px;")
                                        table(width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;")
                                            tbody
                                                tr
                                                    td.inner.contents
                                                        a(href="#" style="text-decoration:underline;color:#70bbd9;")
                                                            img(src='http://unsplash.it/180/150?random' alt='' width="180" height="auto")
                                    <!--[if (gte mso 9)|(IE)]>
                                    | </td><td width="400" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                                    <![endif]-->
                                    div.column.right(dir="rtl")
                                        table(width="100%" style="border-spacing:0;font-family:sans-serif;color:#333333;")
                                            tbody
                                                tr
                                                    td.inner.contents(style="text-align:left")
                                                        p.h1.white-color(style="color:"+bgcolor+";") #{blog.title}
                                                        p(style="Margin:0;font-size:14px;") #{blog.excerpt}
                                    <!--[if (gte mso 9)|(IE)]>
                                    | </td>
                                    | </tr>
                                    | </table>
                                    <![endif]-->
                        tr
                            td(class="full-width-image" style="padding-left:0;padding-right:0;")
                                span(style="font-size:20px;line-height:0;font-family:Helvetica, Arial, sans-serif;") &nbsp;
                        tr
                            td.one-column
                                table(width="100%" class="black-bg" style="border-spacing:0;font-family:sans-serif;color:#333333;background-color:"+bgcolor+";background-image:none;background-repeat:repeat;background-position:top left;background-attachment:scroll;")
                                    tbody
                                        tr
                                            td.inner.contents.center
                                                p(style="Margin:0;font-size:14px;Margin-bottom:10px;text-align: center")
                                                    a(href="#" style="color:"+color+";text-decoration:underline;") Create Account
                                                    | &nbsp;&nbsp;&nbsp;&nbsp;
                                                    a(href="#" style="color:"+color+";text-decoration:underline;") View All menu
                                                    | &nbsp;&nbsp;&nbsp;&nbsp;
                                                    a(href="#" style="color:"+color+";text-decoration:underline;") View Blog
                <!--[if (gte mso 9)|(IE)]>
                | </td>
                | </tr>
                | </table>
                <![endif]-->